# Input

In [1]:
# Import csv data
import pandas as pd
from tqdm import tqdm
df = pd.read_json('contacts.json')

In [2]:
# Check several data
pd.set_option('display.max_colwidth', None)
df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

# ???

In [3]:
df['Partner'] = -1

In [4]:
df = df.sort_values(by=['Email'], ascending=False).reset_index(drop=True)
for i in tqdm(range(len(df))):
    if i > 0:
        if df.loc[i, 'Email'] != '' and df.loc[i, 'Email'] == df.loc[i-1, 'Email']:
            if df.loc[i, 'Partner'] == -1:
                df.at[i, 'Partner'] = df.loc[i-1, 'Id']
            if df.loc[i-1, 'Partner'] == -1:
                df.at[i-1, 'Partner'] = df.loc[i, 'Id']

100%|███████████████████████████████████████████████████████████████████████| 500000/500000 [00:11<00:00, 44218.44it/s]

In [5]:
df = df.sort_values(by=['Phone'], ascending=False).reset_index(drop=True)
for i in tqdm(range(len(df))):
    if i > 0:
        if df.loc[i, 'Phone'] != '' and df.loc[i, 'Phone'] == df.loc[i-1, 'Phone']:
            if df.loc[i, 'Partner'] == -1:
                df.at[i, 'Partner'] = df.loc[i-1, 'Id']
            if df.loc[i-1, 'Partner'] == -1:
                df.at[i-1, 'Partner'] = df.loc[i, 'Id']

100%|███████████████████████████████████████████████████████████████████████| 500000/500000 [00:07<00:00, 62695.90it/s]

In [6]:
df = df.sort_values(by=['OrderId'], ascending=False).reset_index(drop=True)
for i in tqdm(range(len(df))):
    if i > 0:
        if df.loc[i, 'OrderId'] != '' and df.loc[i, 'OrderId'] == df.loc[i-1, 'OrderId']:
            if df.loc[i, 'Partner'] == -1:
                df.at[i, 'Partner'] = df.loc[i-1, 'Id']
            if df.loc[i-1, 'Partner'] == -1:
                df.at[i-1, 'Partner'] = df.loc[i, 'Id']

100%|███████████████████████████████████████████████████████████████████████| 500000/500000 [00:07<00:00, 64994.14it/s]

# Output

In [7]:
# Check several data
df.head(20)

,Id,Email,Phone,Contacts,OrderId,Partner
0,185275,,546487760952,0,zzyCSPABaRqpWOAiPLVlFWtoz,-1
1,448818,QIqOnxM@yahoo.com,061499216,4,zzxguiahceHZcBcyYDPGqfVsA,81236
2,157905,,366923956355,0,zzwYYYbmHxGAlqbtuVzIIVQVl,473313
3,123567,,12265894566,3,zzvXLpaILosxjQVAfehImxyqM,234703
4,121686,vSSlPjuINOTNkFJ@qq.com,,1,zzuRehsZjVaspgpsRtVgaJCul,228050
5,57041,,99754965473,3,zztzKAKQXDeYHFRheSRZrdRZb,359647
6,329799,,188378933,1,zztzKAKQXDeYHFRheSRZrdRZb,57041
7,347035,tFGalOUz@yahoo.com,,4,zztOSILyeOhcXdjFZsglMRCIK,-1
8,390118,IlMVqTQ@yahoo.com,453237927,4,zztAjqgbSYnEsQtOCStDUyyFL,-1
9,400336,pZXtUJbLjChesHPRvw@hotmail.com,400338184939,1,zzssfwanisYbuxBAzCMEyEUmK,95345
10,103602,,4819613767,3,zzsfZQAaoidfOojjOmxRGaiCp,-1
11,379996,oMUuNvrThLpkkVR@yahoo.com,047442241500,1,zzsWuWKjdJDVwEuAaudDIkUde,250654
12,341269,,898385536885,0,zzsFsluGkqmOrkrdNGBqWxZsN,248350
13,248350,nfkfvNIlpNZcIyP@yahoo.com,0379800546,1,zzsFsluGkqmOrkrdNGBqWxZsN,341269
14,353561,hNIHJTpsxlPMZRc@qq.com,,1,zzrvDXsVZHChQvaLKNFbGtbjP,196632
15,218621,LhxQBzqRcp@hotmail.com,,2,zzrXZnyfHYarZelcRefAAoyvh,313126
16,313126,pgaXZyfo@yahoo.com,,0,zzrXZnyfHYarZelcRefAAoyvh,343324
17,128341,gzpCupImYIoOwSzhus@yahoo.com,,0,zzrGNXUJHFVWjHqVKFVAiioSW,46084
18,155924,vpmEnKgDYFYk@gmail.com,638532959,3,zzrGNXUJHFVWjHqVKFVAiioSW,354092
19,190519,,0832254930,2,zzqnxgNNdfJeHUlVCEzKdDHMu,73335

In [9]:
# Export to csv
output = pd.DataFrame({
    'Id': df['Id'],
    'Contacts': df['Contacts'],
    'Partner': df['Partner']
})
output.to_csv('answer.csv', index=False, sep=' ')